#about-page
  animation fadeIn
  animation-duration 2s

#listings-page
  animation fadeIn
  animation-duration 2s

#contact-page
  animation fadeIn
  animation-duration 2s

#c-course-page
  animation fadeIn
  animation-duration 2s

#javascript-course-page
  animation fadeIn
  animation-duration 2s

#impressum-page
  animation fadeIn
  animation-duration 2s

#privacy-police-page
  animation fadeIn
  animation-duration 2s

#projects-page
  animation fadeIn
  animation-duration 2s

#series-page
  animation fadeIn
  animation-duration 2s

#tags-page
  animation fadeIn
  animation-duration 2s

#home-page
  animation fadeIn
  animation-duration 2s

#footer-page
  animation fadeIn
  animation-duration 2s

#post-layout
  animation fadeIn
  animation-duration 2s

#rubyonrails-course-page
  animation fadeIn
  animation-duration 2s
